.bg_container {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app_container {
  width: 90%;
  border-radius: 25px;
  display: flex;
}
.char_container {
  width: 50%;
  background-color: #ffc533;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 50vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #334155;
}
.counter_container {
  width: 50%;
  background-color: #334155;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffc533;
  padding: 20px;
}
.title_container {
  background-color: #ffbf1f90;
  min-width: 100%;
  padding: 20px;
  margin: 0px;
  border-top-left-radius: 20px;
  font-size: 18px;
}

.noInput_Img {
  width: 220px;
  height: 380px;
  margin: 25px;
}
.result_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  min-height: 60vh;
  width: 100%;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input {
  width: 360px;
  max-width: 80%;
  height: 30px;
  margin-right: 5px;
}

.save_btn {
  height: 30px;
  background-color: #ffc533;
  color: #0f172a;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  min-width: 60px;
}
.strings_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  padding: 20px;
}
.string {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #1e293b;
  margin-bottom: 5px;
}
